<p>micro-frontend 1</p>
<div class="wrapper container-fluid">
    <h1>This is from Micro-Frontend 1</h1>
    <div class="row">
        <div class="col-sm-3"><iframe src="https://www.youtube.com/embed/ZTLpT7ndSm4?si=KL1z67xNBMrbI3zT"></iframe></div>
        <div class="col-sm-3"><iframe src="https://www.youtube.com/embed/edTA7amdvzI?si=3NW5RXSC0J-no34O"></iframe></div>
        <div class="col-sm-3"><iframe src="https://www.youtube.com/embed/1O12GGZFFxk?si=OewauIhnhPBcOb01"></iframe></div>
        <div class="col-sm-3"><iframe src="https://www.youtube.com/embed/JCccIssc_U8?si=WbBzQKKH1Kfc63bv"></iframe></div>
    </div>
</div>
<div style="background-color: blue; height: 100px; width: 100px; margin: 5px"></div>
<button (click)="cartNavigate()">Cart</button>
<hr>
<router-outlet></router-outlet>
